.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(0.4em + 4vw);
    width: 80vw;
    border-radius: 10px;
    box-shadow: 0 0 15px #2c5cb1;
    min-height: 80vh;
    margin: 10px;
    padding: 15px;
}

.card-title {
    font-size: calc(0.6em + 4vw);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.card-answer {
    flex: 1;
}